<!doctype html>
<html><head>
 </head>
<body>
<form action="/crear" method="POST" >
    Name: <input type="text" id="nombre" name="nombre">
    Qty: <input type="text" name="qty">
    Size: <input type="text" name="size">
    Status: <input type="text" name="status">
    <input type="Submit" value="Create">
</form>

</body>
</html>